doctype 5
html
head
title sup #{room}
script(src="socket.io/socket.io.js");
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js");
script
  var room = '#{room}';
  var results;
  var prevSearch;
  var found;
  //script('http://cdn.socket.io/stable/socket.io.js')
  $(function(){

    var socket = io.connect();

    socket.emit('join room', room);

    socket.on('msg', function(data){
      console.log(data);
    });

    // songStart is either 0, or the time when the song started playing in the room in millis
    socket.on('changeSong', function(songURI, mins, secs){

      $("#loadSong").attr('src', songURI+'#'+mins+':'+secs);

      // bump previously played song up
      var prevSong = $(".currentlyPlaying");
      prevSong.removeClass("currentlyPlaying");
      prevSong.addClass("alreadyPlayed");

      // mark current song as playing
      var nowPlaying = $(".comingUp").filter(":first");
      nowPlaying.removeClass("comingUp");
      nowPlaying.addClass("currentlyPlaying");
    });

    socket.on('songForList', function(songInfo){
      var trackStatus = 'comingUp';
      if (songInfo.status == 'prev') {
         trackStatus = 'alreadyPlayed';
      }
      else if (songInfo.status == 'cur') {
         trackStatus = 'currentlyPlaying';
      }
      var trackStr = "<div class='"+trackStatus+"'>"+songInfo.track.artists[0].name +" - "+ songInfo.track.name;
      trackStr += "<div class='voteOuter' id='"+songInfo.id+"_voteOuter'>";
      trackStr += "<input id='"+songInfo.id+"_voteValue' type='hidden' value='50' />";
      trackStr += "<div class='voteInner' id='"+songInfo.id+"_voteInner'>&nbsp;</div></div>"; // also closes the voteOuter
      trackStr += "<span id='"+songInfo.id+"_voteSet'>Set!</span>"; 
      trackStr += "<div class='voteOuter'>"; // doesn't need an id
      trackStr += "<div class='voteInner' id='"+songInfo.id+"_voteAvg'>&nbsp;<div> </div></div>";  // also closes the voteOuter
      trackStr += "</div></div><p />";  // also closes the track div and voteOuter

      $(trackStr).hide().appendTo("#queue").slideDown('slow');
      $("#"+songInfo.id+"_voteSet").hide();
      $("#"+songInfo.id+"_voteOuter").mousemove(slideVote);
      $("#"+songInfo.id+"_voteOuter").mouseleave(setVoteWidth);
      $("#"+songInfo.id+"_voteOuter").click(setVote);
      $("#"+songInfo.id+"_voteOuter").click();
      setColorAndWidth(songInfo.id, 50, false);
    });

    socket.on('users', function(userCount){
      $("#users").text(userCount + " people currently connected");
    });

    socket.on('disconnect', function() {
       socket.emit('disconnect');
    });      

    socket.on('name', function(name) {
       $("#chatName").text(name+":");
    });

    socket.on('name error', function(msg) {
       alert(msg);
    });

    // if mine == true then display name as chatNameMine
    socket.on('chat', function(name,msg, mine) {
       var curTime = new Date();
       var timeStr = convertTimeToString(curTime);

       if (name == 'system') {
          $("#chatHistory").append("<p> <span class='chatTime'>"+timeStr+" &nbsp;</span> <em> "+msg+"</em></p>");
       } 
       else {
          var nameClass = mine ? 'chatNameMine' : 'chatNameOther';
          $("#chatHistory").append("<p><span class='chatTime'>"+timeStr+" &nbsp;</span> <strong class='"+nameClass+"'>"+name+"</strong>: "+msg+"</p>");
       }
       $("#chatHistory").prop("scrollTop",$("#chatHistory").prop("scrollHeight"));
    });

    socket.on('vote update', function(songId, avg) {
       setColorAndWidth(songId, avg, true);
    });

    // add song to server queue
    $("#uri").click(function(e){
      e.preventDefault();
      var uriToAdd = $("#uri").val()
      socket.emit('queueUp',uriToAdd);
    });

    $("#playItOff").click(function(e){
      e.preventDefault();
      socket.emit('startPlayback');
    });

    $("#songSearch").click(function(e) {
      $("#songSearch").val('');
    });

    $("#chatNameSubmit").click(function(e) {
      var newName = $("#chatNameSet").val();
      $("#chatNameSet").val('');
      socket.emit('chat name',newName);
    });
  
    $("#chatMessage").keypress(function(e) {
      if(e.which == 13) {  // on enter key
        var message = $("#chatMessage").val();
        if (message != '') {
          $("#chatMessage").val('');
          socket.emit('chat message', message);
        }
      }
    });

    function slideVote (e) {
         var songId = parseInt(this.id);
         var width = $(this).width();
         var location = (e.pageX - $("#"+songId+"_voteInner").offset().left) / width;
         location = location < 1 ? location : 1;  // make sure it's less than 1
         setColorAndWidth (songId, location*100, false);
    }

    // Returns a string like 'HH:MM'
    function convertTimeToString(time) {
      var result = '';
      var hours = time.getHours();
      var mins  = time.getMinutes();
      result += hours < 10 ? '0'+hours : hours;
      result += ':';
      result += mins < 10 ? '0'+mins : mins;
      return result;
    }

    // width should be in 0-100
    // if avg is true then we're setting the song's avg not the local one
    function setColorAndWidth (songId, width, avg) {
         // Color map:  0 -> fa0000; 
         //            50 -> ffff00; 
         //           100 -> 00fa00;
         var red = width < 50 ? 255 : Math.floor(5*(100-width));
         var green = width < 50 ? Math.floor(5*width) : 255;
         var colorstr = 'rgb('+red+','+green+',0)';
         var avgStr = 'Inner';
         if (avg) { avgStr = 'Avg';}
         $("#"+songId+"_vote"+avgStr).css('background', colorstr);
         $("#"+songId+"_vote"+avgStr).width(width+'%');
    }

    function setVote () {
         var songId = parseInt(this.id);
         var voteValue = $("#"+songId+"_voteInner").width();
         $("#"+songId+"_voteValue").val(voteValue);
         $("#"+songId+"_voteSet").show();
         setTimeout(function() { $("#"+songId+"_voteSet").hide();}, 1500);
         socket.emit('vote', songId, voteValue);
    }

    function setVoteWidth() {
         var songId = parseInt(this.id);
         var width = $("#"+songId+"_voteValue").val();
         setColorAndWidth(songId, width, false); 
    }

    searchForSongs = function(){
      var songName = $("#songSearch").val();
      if (songName.length > 0) {
        if (songName != prevSearch) {
          prevSearch = songName;
          $.get("http://ws.spotify.com/search/1/track.json?q="+songName, {}, 
            function(rawData) {
              results = jQuery.parseJSON(rawData);
              found = {};
              displaySearchResults(0);
            },
          'text');
        }
      }  // end if songName > 0
      else {
        $("#results").text('');
      }
    }

    var searchTimeout = null;
    $("#songSearch").keyup(function(e){
      if(searchTimeout != null){
        clearTimeout(searchTimeout);
      }
      if(e.which == 32 || e.which == 13){
        searchForSongs();
      }
      else{
        searchTimeout = setTimeout(searchForSongs, 500);
      }
    });

  });
  
  // Displays results starting at a given value
  function displaySearchResults(startAt) {
    var count = 0;  // how many things we've added
    var lastChecked = 0; // last result looked at
    //$("#results").text('');         
    var addHtml = '';
    for(var i=startAt;count < 5 && i<results.tracks.length; i++) {
      var track = results.tracks[i];
      var availability = track.album.availability.territories;

      var regionClass = 'available';
      if (availability.indexOf('US') < 0) { // only show things available in US
        regionClass = 'unavailable';
      }
  
      var artist = track.artists[0].name;
      var song = track.name;
      if (!found[artist+song]) {
        var toAdd = artist + ' - '+song;
        addHtml += '<p class="'+regionClass+'" onClick="queueSong('+"'"+track.href+"'"+')">'+toAdd+'</p>';
        count++;
        found[artist+song] = true;
      }
      lastChecked = i;
    }

    startAt += 5;
    if(lastChecked < results.tracks.length - 1){
      addHtml += '<p onClick="displaySearchResults('+startAt+')">More</p>';
    } 
    
    if(results.tracks.length == 0){
      addHtml = '<p><em>No tracks found.</em></p>';
    }

    if($("#results").html()=== ''){
      $(addHtml).hide().appendTo("#results").slideDown("slow");
    }
    else{
      $("#results").html(addHtml);
    }

  }

  function queueSong(text) {
    $("#uri").val(text);
    $("#uri").click();
  }

body   
  #container
    #chat.box     
      p Change your name:
        input#chatNameSet(type="text")
        input#chatNameSubmit(type="button",value="Set Name")        
        #chatHistory.scrolling
      p
        span#chatName
        input#chatMessage(type="text")
    #songStuff.box
      #inputSongs
        form#uriForm
          input#uri(type="hidden", size ="20" )
          form#next
            input#playItOff(type="submit", value="next song")
      h5 Songs
      #queue
    #search.box Search:
      input#songSearch(type="text", size="30", value="Enter song/artist name")
      #results
    #people
      p#users #{actives} people currently connected
  iframe#loadSong(style="width:0px; height:0px; border: 0px", src="")
  include footer

