doctype 5
html
head
title sup #{room}
script(src="socket.io/socket.io.js");
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js");
script(src="/javascripts/chat.js")
script(src="/javascripts/vote.js")
script(src="/javascripts/song.js")
script(src="/javascripts/spotifyAPI.js")

script
  var room = '#{room}';
  var results;
  var prevSearch;
  var socket;
  $(function(){

    socket = io.connect();

    socket.emit('join room', room);

    initSongs(socket);
    initVotes(socket);
    initChat(socket);

  });

body   
  #container
    #chat.box     
      p Change your name:
        input#chatNameSet(type="text")
        input#chatNameSubmit(type="button",value="Set Name")        
        #chatHistory.scrolling
      p
        span#chatName
        input#chatMessage(type="text")
    #topSongContainer.box
       h5 Top Songs
       #topSongList
    #songStuff.box
      #inputSongs
        form#uriForm
          input#uri(type="hidden", size ="20" )
          form#next
            input#playItOff(type="submit", value="next song")
      h5 Songs
      #queue
    #search.box Search:
      input#songSearch(type="text", size="30", value="Enter song/artist name")
      #results
    #people
      p#users #{actives} people currently connected
  iframe#loadSong(style="width:0px; height:0px; border: 0px", src="")
  include footer

