body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #181818;
}

a {
  color: #00B7FF;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

div {
  overflow: hidden;
}

input {
  margin-left: 10px;
}

#container {
  position: relative;
  background-color: #204030;
  padding: 5px;
}

.box {
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
  margin: 5px;
  background: #000000;
  color: #C0C0C0;
}

.song {
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 90%;
}

#songStuff {
  float:left;
  width: 35%;
}

#inputSongs {
}

#queue {
  max-height: 353px;
  overflow-y: auto;
}

#search{
  float: left;
  width: 35%;
}

#chatHistory{
  overflow-y: auto;
  word-wrap: break-word;
  float: left
  width: 100%;
  height: 350px;
  border: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
  background: #FFFFFF;
  color: #000000;
}

.scrolling::-webkit-scrollbar {
  width: 1.5ex;
  -webkit-border-radius: 1ex;
}
.scrolling::-webkit-scrollbar-thumb:vertical {
  border-right: 1px solid #fff;
  background-color: #C0C0C0;
  -webkit-border-radius: 1ex;  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);  
}

#chat{
  float: left;
  width: 60%;
}

#chatMessage {
  width: 75%;
}

#chatName {
  font-weight: bold;
}

#people {
  clear: both;
}

.unavailable{
    color: #880000;
    cursor: pointer;
}
.available{
  cursor: pointer;
}

.comingUp {
  color: #C0C0C0;
  clear: both;
}

.alreadyPlayed {
  color: #808080;
  clear: both;
}

.currentlyPlaying {
  color: #FFFFFF;
  clear: both;
}

#finePrint {
  clear: both;
  font-size: small;
  color: #808080;
}

.chatNameMine {
  color: #000080;
}

.chatNameOther {
  color: #800000;
}

.chatTime {
  color: #808080;
}

#header {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #303030;
}

.title {
  color: #00B7FF;
  font-size: xx-large;
  float: left;
  padding: 10px;
}

.subtitle {
  color: #C0C0C0;
  font-size: large;
  float: left;
  padding-left: 20px;
  padding-top: 25px;
}

.instruction {
  width: 30%;
  float: left;
}

.inner {
  background-color: #303030;
  padding: 5px;
  padding-left: 15px;
  height: 225px;
  font-size: large;
}

h2 {
  color: #00B7FF;
}
