body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  margin-left: 10px;
}

#container {
  position: relative;
}

.box {
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background: #000000;
  color: #C0C0C0;
}

#songStuff {
  float:right;
  width: 35%;
}

#inputSongs {
}

#currentSong {
}

#currentSongName {
 font-size: 12px;
 margin-left: auto;
 width: 80%;
}

#timeBarOuter {
  width: 80%;
  height: 8px;
  border: 1px solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-color: #808080;
  margin-left: auto;
  margin-right: auto;
}

#timeBarInner {
  visibility: inherit;
  height: 90%;
  width: 0%;
  background: #C0C0C0;
  border: 1px solid #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

#topSongContainer {
  float: right;
  width: 35%;
}

#topSongList {
  font-size: 12px;  
}

#queue {
  max-height: 190px;
  overflow-y: auto;
  border: 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}

#search{
  float: right;
  width: 35%;
}

#chatHistory{
  overflow-y: auto;
  word-wrap: break-word;
  float: left;
  width: 85%;
  height: 350px;
  border: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
  background: #FFFFFF;
  color: #000000;
}

#chatClients {
  overflow-y: auto;
  word-wrap: break-word;
  height: 350px;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;  
  border: 1px solid grey;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.scrolling::-webkit-scrollbar {
  width: 1.5ex;
  -webkit-border-radius: 1ex;
}
.scrolling::-webkit-scrollbar-thumb:vertical {
  border-right: 1px solid #fff;
  background: rgba(0, 0, 0, .2);
  -webkit-border-radius: 1ex;  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);  
}

.scrollingLight::-webkit-scrollbar {
  width: 1.5ex;
  -webkit-border-radius: 1ex;
}

.scrollingLight::-webkit-scrollbar-thumb:vertical {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, .2);
  -webkit-border-radius: 1ex;  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);  
}


#chat{
  float: left;
  width: 60%;
}

#chatMessage {
  width: 75%;
}

#chatName {
  font-weight: bold;
}

#people {
  clear: both;
}

.unavailable{
    color: #880000;
    cursor: pointer;
}
.available{
  cursor: pointer;
}

.selectedVote {
  color: #000000;
}

.nonselectedVote {
  color: #888888;
}

.comingUp {
  color: #C0C0C0;
  clear: both;
}

.alreadyPlayed {
  color: #808080;
  clear: both;
  text-decoration: line-through;
}

.currentlyPlaying {
  color: #FFFFFF;
  clear: both;
}

#finePrint {
  clear: both;
  font-size: small;
  color: #808080;
}

.voteOuter {
  width: 100px;
  height: 12px;
  border: 1px solid;
  border-color: #808080;
  cursor: pointer;
  float: left;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
  clear: left;
}

.voteOuterAvg {
  width: 100px;
  height: 12px;
  border: 1px solid;
  border-color: #808080;
  float: right;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.voteSet {
  float : left;
}

.voteInner {
  width: 50%;
  height: 100%;
  background: rgb(127,128,0);
}

.chatNameMine {
  color: #000080;
}

.chatNameOther {
  color: #800000;
}

.chatTime {
  color: #808080;
}
